/.vscode
/AI  Updated file.docx
/AI index.docx
/Cn Cover page.docx
/Cover page.docx
/Crypto Lab 1.docx
/desktop.ini
/Final Report - Copy.docx
/Final Report.docx
/index.html
/newfile.html
/OS index.docx
/ViberDownloads
/~$  Updated file.docx
/My Music
/My Pictures
/My Videos